@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Roboto&family=Urbanist&display=swap');
@import '~@mdi/font/css/materialdesignicons.css';
@import 'variables';

// -- basics --

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: $colorBackground;
  color: $colorText;
}

*::selection {
  background: $colorText;
  color: $colorBackground;
}

* {
  font-family: $fontText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// -- text --

@each $name, $size, $weight in $headingSizes {
  h#{$name} {
    font-size: $size;
    font-weight: $weight;
    font-family: $fontTitle;
    margin: unset;
  }
}

@each $name, $size, $weight in $headingSizesSmall {
  @media screen and (max-width: $screenSmall) {
    h#{$name} {
      font-size: $size;
      font-weight: $weight;
      font-family: $fontTitle;
      margin: unset;
    }
  }
}

p {
  font-size: $textSize;
  font-family: $fontText;
  margin: 12px;

  &.primary {
    font-weight: 500;
  }

  &.secondary {
    color: $colorSecondary1;
  }
}

a {
  color: $colorText;
}

label {
  display: block;
  margin: 32px 0 12px 12px;
  padding: 4px 0;
  font-weight: 600;
  border-bottom: solid 2px $colorText;
}

// -- panel --

.panel {
  min-height: calc(100vh - 128px);
  padding: 64px;

  @media screen and (max-width: $screenSmall) {
    &{
      padding: 24px;
      min-height: calc(100vh - 48px);
    }
  }

  .panelBody {
    max-width: 980px;
  }

  .smallSection {
    margin: 42px 0;
  }
}

// -- lists --

.listItem {
  margin: 0 12px;
  padding: 6px 3px;
}

// -- buttons --

button {
  color: $colorText;
  margin: 12px;
  padding: 6px 12px;
  border: solid 2px $colorText;
  background: none;
  font-size: 1.1em;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    color: $colorBackground;
    background: $colorText;
  }
}

// -- tooltip --

.tooltip {
  position: absolute;
  background: $colorTooltipBackground;
  color: $colorTooltipText;
  padding: 4px 6px;
}

.tooltipArrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: $colorTooltipBackground transparent transparent transparent;
}

// -- canvas --

.backgroundCanvas canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}