@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Roboto&family=Urbanist&display=swap');
@import '~@mdi/font/css/materialdesignicons.css';
@import 'variables';

// -- basics --

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: $colorBackground;
  color: $colorText;
}

*::selection {
  background: $colorText;
  color: $colorBackground;
}

* {
  font-family: $fontText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// -- text --

h1, h2, h3, h4, h5, h6 {
  color: $colorHeader
}

@each $name, $size, $weight in $headingSizes {
  h#{$name} {
    font-size: $size;
    font-weight: $weight;
    font-family: $fontTitle;
    margin: unset;
  }
}

@each $name, $size, $weight in $headingSizesSmall {
  @media screen and (max-width: $screenSmall) {
    h#{$name} {
      font-size: $size;
      font-weight: $weight;
      font-family: $fontTitle;
      margin: unset;
    }
  }

  .textContainer h#{$name} {
    font-size: $size;
    font-weight: $weight;
    font-family: $fontTitle;
    margin: unset;
  }
}

p {
  font-size: $textSize;
  font-family: $fontText;
  margin: 12px;

  &.primary {
    font-weight: 500;
  }

  &.secondary {
    color: $colorSecondary1;
  }
}

a {
  color: $colorLink;
}

span {
  cursor: default;
}

label {
  display: block;
  margin: 32px 0 12px 12px;
  padding: 4px 0;
  font-weight: 600;
  border-bottom: solid 2px $colorText;
}

blockquote {
  margin: 24px;
  border-left: solid 2px $colorText;
}

.textContainer {
  margin-bottom: 42px;
}

// -- panel --

.panel {
  min-height: calc(100vh - 128px);
  padding: 64px;

  @media screen and (max-width: $screenSmall) {
    &{
      padding: 24px;
      min-height: calc(100vh - 48px);
    }
  }

  .panelBody {
    max-width: 980px;
  }

  .smallSection {
    margin: 42px 0;
  }
}

// -- lists --

.listItem {
  margin: 0 12px;
  padding: 6px 3px;
}

// -- buttons --

button {
  color: $colorLink;
  margin: 12px;
  padding: 6px 12px;
  border: solid 2px $colorLink;
  background: none;
  font-size: 1.1em;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    color: $colorBackground;
    background: $colorLink;
  }
}

// -- tooltip --

.tooltip {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  background: $colorTooltipBackground;
  color: $colorTooltipText;
  padding: 4px 6px;
}

.tooltipArrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: $colorTooltipBackground transparent transparent transparent;
}

// -- canvas --

.backgroundCanvas canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.backgroundBackground {
  background: linear-gradient(153deg, rgba(120,29,79,1) 0%, rgba(173,47,69,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

// -- scroll bar --

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 9px solid transparent;
  background: $colorText;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorText;
  background-clip: content-box;
}

// -- specials --

.hiddenButton {
  color: transparent;
}

.hiddenButton::selection {
  background: transparent;
  color: transparent;
}

.backgroundStats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 64px);

  font-family: $fontCode;
  opacity: 0.2;

  transition-duration: 200ms;

  margin: 64px;

  @media screen and (max-width: $screenSmall) {
    &{
      width: calc(100% - 24px);
      text-align: center;
      margin: 24px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.hide{
    opacity: 0
  }
}