@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Roboto&family=Urbanist&display=swap');
@import '~@mdi/font/css/materialdesignicons.css';
@import 'variables';

// -- basics --

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: $colorBackground;
  color: $colorText;
}

*::selection {
  background: $colorText;
  color: $colorBackground;
}

* {
  font-family: $fontText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// -- project page --

.projectHeader {
  padding: 32px 32px 0;
}

.projectHeaderImage {
  height: auto;
  max-height: 60vh;
  width: 100%;
  object-fit: contain;
}

// -- cards --

.card {
  display: inline-grid;
  margin: 42px;
  width: 468px;
  background-color: rgba($colorBlack, 0.5);
  backdrop-filter: blur(24px);

  @supports (-moz-appearance:none) {
    & {
      background-color: $colorBlack;
    }
  }

  @media (max-width: $screenSmall) {
    & {
      position: relative;
      margin: 42px 0;
      width: 100%;
    }
  }
}

.cardBody {
  display: block;
  padding: 12px 24px;

  .fluidCard & {
    padding: 32px;
  }
}

.cardThumbnail {
  margin: 24px;
  height: 240px;
  width: 420px;

  background-size: cover;
  background-position: center;
}

.cardFooter {
  --colorBackground: var(--colorBlack);
  --colorText: var(--colorWhiteSecondary);
  --colorHeader: var(--colorWhiteSecondary);
  --colorLink: var(--colorWhiteSecondary);

  background-color: $colorBackground;

  padding: 32px;
}

.fluidCard {
  --colorBackground: var(--colorWhite);
  --colorText: var(--colorBlack);
  --colorHeader: var(--colorText);
  --colorLink: var(--colorText);

  background: $colorBackground;

  display: table;
  margin: 64px 0;
  width: 50vw;

  @media (max-width: 1200px) {
    & {
      width: 75vw;
    }
  }

  @media (max-width: $screenSmall) {
    & {
      display: block;
      margin: 32px;
      width: unset;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.secondary {
    --colorBackground: var(--colorBlackSecondary);
    --colorText: var(--colorWhiteSecondary);
    --colorHeader: var(--colorWhiteSecondary);
    --colorLink: var(--colorWhiteSecondary);
  }
}

.fluidContainer {
  display: table;
  margin: auto;
  width: 50vw;

  @media (max-width: 1200px) {
    & {
      width: 75vw;
    }
  }

  @media (max-width: $screenSmall) {
    & {
      display: block;
      margin: 32px;
      width: unset;
    }
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding: 0 32px;

  @media (min-width: 576px) {
    & {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    & {
      max-width: 960px;
    }
  }

  /*
  @media (min-width: 1200px) {
    & {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    & {
      max-width: 1320px;
    }
  }
   */
}

// -- cookieMessage --

.cookieMessage {
  --colorBackground: var(--colorWhite);
  --colorText: var(--colorBlack);
  --colorHeader: var(--colorText);
  --colorLink: var(--colorText);

  background-color: $colorBackground;

  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  margin: 42px;
  padding: 32px;
  max-width: 468px;

  & .secondary {
    color: $colorBlackSecondary !important;
  }
}

.cookieNotification {
  display: block;

  --colorBackground: var(--colorWhite);
  --colorText: var(--colorWhite);
  --colorHeader: var(--colorText);

  color: $colorText !important;
  background: transparent;

  backdrop-filter: brightness(50%) invert(100%) brightness(10%);

  transition-duration: 80ms;

  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  margin: 12px;
  padding: 12px;
  width: 38px;
  height: 38px;
  vertical-align: center;
  text-align: center;

  &:hover {
    --colorBackground: var(--colorWhite);
    --colorText: var(--colorBlack);

    backdrop-filter: brightness(10%) invert(100%) brightness(100%);

    border: solid 2px transparent;
    outline: solid 2px 2px $colorBackground;
  }

  @supports (-moz-appearance:none) {
    & {
      background-color: $colorBlack;
    }

    &:hover {
      background-color: $colorWhite;
    }
  }
}

// -- text --

h1, h2, h3, h4, h5, h6 {
  color: $colorHeader;
  position: relative;
}

@each $name, $size, $weight in $headingSizes {
  h#{$name} {
    font-size: $size;
    font-weight: $weight;
    font-family: $fontTitle;
    margin: unset;
  }

  h#{$name} * {
    font-family: $fontTitle;
  }

  h#{$name} p {
    display: unset;
    color: unset;
    font-size: unset;
    font-family: unset;
    margin: unset;
  }
}

@each $name, $size, $weight in $headingSizesSmall {
  @media screen and (max-width: $screenSmall) {
    h#{$name} {
      font-size: $size;
      font-weight: $weight;
      font-family: $fontTitle;
      margin: unset;
    }
  }

  .textContainer h#{$name}, button h#{$name} {
    font-size: $size / 1.5;
    font-weight: $weight;
    font-family: $fontTitle;
    color: $colorHeader;
    margin: 24px 0 /*12px*/;
  }

  button h#{$name}{
    color: unset;
  }
}

p {
  color: $colorText;
  font-size: $textSize;
  font-family: $fontText;
  //margin: 12px;

  &.primary {
    font-weight: 500;
  }

  &.secondary {
    color: $colorWhiteSecondary;
  }
}

a {
  color: $colorLink;
}

span {
  cursor: default;
}

label {
  font-size: 18px;
  display: block;
  margin: 12px;
  padding: 6px 0;
  font-weight: 600;
  color: $colorText;
}

blockquote {
  margin: 24px;
  padding: 4px 24px;
  border-left: solid 2px $colorText;
}

.mdi {
  vertical-align: middle;
}

.textContainer {
  --colorHeader: var(--colorWhite);

  margin-bottom: 42px;
}

.textContainer img {
  max-width: 100%;
}

img.emoji {
  max-width: unset;
  height: 1em;
  vertical-align: middle;
}

// -- panel --

.panel {
  padding: 64px;
  background-color: $colorBackground;
  overflow-x: hidden;

  @media screen and (max-width: $screenSmall) {
    &{
      padding: 24px;
    }

    &.fullPage {
      min-height: calc(100vh - 48px);
    }
  }

  &.fullPage {
    min-height: calc(100vh - 128px);
  }

  .panelBody {
    max-width: 980px;
  }

  .smallSection {
    margin: 42px 0;
  }
}

// -- lists --

.listItem {
  color: $colorText;
  margin: 0 12px;
  padding: 6px 3px;
  display: inline-block;
}

// -- buttons --

button {
  color: $colorLink;
  margin: 12px;
  padding: 6px 12px;
  border: solid 2px $colorLink;
  background: none;
  font-size: 1.1em;
  font-weight: 600;

  transition-duration: 80ms;
  transition-property: color, background-color, border;

  &:hover {
    cursor: pointer;
    color: $colorBackground;
    background: $colorLink;
  }
}

button.noBorder {
  background-color: $colorBackground;
  border: solid 2px $colorBackground;

  &:hover {
    color: $colorLink;
    border: solid 2px $colorLink;
  }
}

button.flat {
  background-color: transparent;
  color: $colorLink;
  border: solid 2px transparent;

  &:hover {
    color: $colorBackground;
    background: $colorLink;
    border: solid 2px $colorLink;
  }
}

button.solid {
  color: $colorBackground;
  background: $colorLink;
  border: solid 2px $colorLink;

  &:hover {
    color: $colorLink;
    background: transparent;
  }
}

button.border {
  color: $colorLink;
  background: transparent;
  border: solid 2px $colorLink;

  &:hover {
    color: $colorBackground;
    border: solid 2px $colorLink;
    background: $colorLink;
  }
}

button p {
  display: unset;
  color: unset;
  font-size: unset;
  font-family: unset;
  margin: unset;
}

// -- tooltip --

.tooltip {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  background: $colorTooltipBackground;
  color: $colorTooltipText;
  padding: 4px 6px;
}

.tooltipArrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: $colorTooltipBackground transparent transparent transparent;
}

// -- canvas --

.backgroundCanvas canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.backgroundBackground {
  background: $gradientOrange;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

// -- scroll bar --

::-webkit-scrollbar {
  width: 22px;
  height: 22px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 9px solid transparent;
  background: $colorText;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorText;
  background-clip: content-box;
}

// -- specials --

.hiddenButton {
  color: transparent;
}

.hiddenButton::selection {
  background: transparent;
  color: transparent;
}

.backgroundStats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 64px);

  font-family: $fontCode;
  opacity: 0.2;

  transition-duration: 200ms;

  margin: 64px;

  @media screen and (max-width: $screenSmall) {
    &{
      width: calc(100% - 24px);
      text-align: center;
      margin: 24px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.hide{
    opacity: 0
  }
}

.backgroundText {
  position: absolute;
  height: 95%;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  color: $colorBlackSecondary;
  user-select: none;
}

// -- badge --

.badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  font-size: 0.4em;

  --colorBackground: var(--colorBlackSecondary);
  --colorText: var(--colorWhite);

  background-color: $colorBackground;
  color: $colorText;

  margin: 0.3em 0.2em;
  padding: 0.3em 0.6em;

  &.important {
    background: $gradientOrange;
  }
}

// -- navbar --

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  z-index: 100000;

  backdrop-filter: blur(24px) brightness(90%) invert(100%) brightness(40%);
}